.multiple-divider,
[data-immanuel-boundary="angle-markers-end"] {
    left: 24.5%;
    top: 24.5%;
    width: 51%;
    height: 51%;
}

.multiple-divider {
    position: absolute;
    box-shadow: 0 0 0 2px #CCC;
    border-radius: 50%;
}

[data-immanuel-track="angles"] {
    top: 7%;
    left: 7%;
    width: 86%;
    height: 86%;
}

[data-immanuel-track="secondary-angles"] {
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
}

[data-immanuel-track="planets"] {
    top: 28%;
    left: 28%;
    width: 44%;
    height: 44%;
}

[data-immanuel-track="secondary-planets"] {
    top: 21%;
    left: 21%;
    width: 58%;
    height: 58%;
}

[data-immanuel-track="secondary-house-numbers"] {
    top: 38%;
    left: 38%;
    width: 24%;
    height: 24%;
}

[data-immanuel-boundary="secondary-house-start"] {
    top: 69.5%;
    left: 69.5%;
    width: 16%;
    height: 16%;
}

[data-immanuel-boundary="secondary-house-end"],
[data-immanuel-boundary="secondary-angle-markers-end"] {
    top: 17.75%;
    left: 17.75%;
    width: 64.5%;
    height: 64.5%;
}

[data-immanuel-boundary="angle-markers-start"],
[data-immanuel-boundary="secondary-angle-markers-start"] {
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
}

[data-immanuel-planet] {
    display: inline-block;
    padding: 0.2rem;
    font-family: 'Astro';
    font-size: 1.2rem;
    line-height: 0.8;
    text-align: center;
}
@media only screen and (min-width: 620px) {
    [data-immanuel-planet] {
        font-size: 2rem;
    }
}
[data-immanuel-track="secondary-planets"] [data-immanuel-planet] {
    color: #A66;
}
[data-immanuel-planet] .retrograde {
    display: none;
    position: absolute;
    bottom: -0.1em;
    right: -0.2em;
    font-size: 0.6em;
}
[data-immanuel-track="primary-planets"] [data-immanuel-planet] .retrograde {
    color: #444;
}
[data-immanuel-track="secondary-planets"] [data-immanuel-planet] .retrograde {
    color: #A66;
}
[data-immanuel-planet].planet-movement--retrograde .retrograde {
    display: block;
}

[data-immanuel-angle] {
    display: inline-block;
    font-family: 'Astro';
    font-size: 1rem;
    text-align: center;
}
@media only screen and (min-width: 620px) {
    [data-immanuel-angle] {
        font-size: 1.5rem;
    }
}
[data-immanuel-track="secondary-angles"] [data-immanuel-angle] {
    color: #A66;
}

[data-immanuel-angle] [data-immanuel-placeholder],
[data-immanuel-angle] [data-immanuel-secondary-placeholder] {
    display: block;
    font-family: sans-serif;
    font-size: 0.5em;
}

.immanuel__secondary-angle-marker,
.immanuel__secondary-angle-pointer {
    stroke: #A66;
    stroke-width: 1px;
}

.immanuel__secondary-house-line {
    stroke: #A66;
    stroke-width: 1px;
}

.immanuel__secondary-house-line.house-line--1,
.immanuel__secondary-house-line.house-line--4,
.immanuel__secondary-house-line.house-line--7,
.immanuel__secondary-house-line.house-line--10 {
    stroke-width: 3px;
}